<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <link href="blog.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jura:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--START OF BODY-->
  <body class="d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center">
      <%= video_tag(
              'bg.mp4',
              id: "background",
              autoplay: true,
              loop: true,
              muted: true,
              )
      %>
      <div class="main-frame">
        <nav class="card-group-vertical">
          <div class="card logo">
            <div class="card-body">
              <h5 class="card-title">MH</h5>
            </div>
          </div>
          <div class="card app-link">
            <div class="card-body">
              <h5 class="card-title">About Me</h5>
            </div>
          </div>
          <div class="card app-link">
            <div class="card-body">
              <h5 class="card-title">Contact</h5>
            </div>
          </div>
          <div class="card app-link">
            <div class="card-body">
              <h5 class="card-title">Portfolio</h5>
            </div>
          </div>
          <!--<span class="logo">-->
            <!--<h1><%= link_to "MH", root_path %></h1>-->
          <!--</span>-->
          <!--<span class="nav-link">-->
            <!--<%= link_to "Home", root_path, class: "nav-link" %>-->
          <!--</span>-->
          <!--<span class="nav-link">-->
            <!--<%= link_to "About Me", about_me_path, class: "nav-link" %>-->
          <!--</span>-->
          <!--<span class="nav-link">-->
            <!--<%= link_to "Contact", contact_path, class: "nav-link" %>-->
          <!--</span>-->
          <!--<span class="nav-link">-->
            <!--<%= link_to "Portfolio", portfolios_path, class: "nav-link" %>-->
          <!--</span>-->

        </nav>
        <!--RIGHT NAV BAR-->
        <div class="right-nav">
          <!--SIGN UP DROP DOWN-->
          <div class="accordion w-50 h-25 app-login" id="accordionExample">
            <div class="card">
              <div class="card-header white" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Sign Up
                  </button>
                </h5>
              </div>
            </div>
          </div>
          <!--SIGN IN DROP DOWN -->
          <div class="accordion w-50 h-25 app-login" id="accordionExample">
          <div class="card ">
            <div class="card-header white" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Sign In
                </button>
              </h5>
            </div>
          </div>
        </div>
        </div>

      <!--<header class="blog-header py-3">-->
        <!--<div class="row flex-nowrap justify-content-between align-items-center">-->
          <!--<div class="col-3 pt-1">-->
            <!--<a class="text-muted" href="#">Subscribe</a>-->
          <!--</div>-->
          <!--<div class="col-6 text-center">-->
            <!--<h1 class="head-title">MONICA HOWARD</h1>-->
          <!--</div>-->
          <!--<div class="col-3 d-flex justify-content-end align-items-center">-->
            <!--<a class="text-muted" href="#">-->
              <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>-->
            <!--</a>-->
            <!--<a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-12">-->
            <!--<h5 class="skills">Javascript | React | Ruby | Rails | MySQL</h5>-->
        <!--</div>-->
      <!--</header>-->




        <%= yield %>

        <%= render "shared/application_footer" %>

        <!--<%= source_helper("application") %>-->
      </div>

    </div>
  </body>
</html>